@mixin align-text() {
    &align-text {
        &-left {
            text-align: left;
        }

        &-right {
            text-align: right;
        }

        &-center {
            text-align: center;
        }
    }
}

@mixin align-text-important() {
    &align-text {
        &-left {
            text-align: left !important;
        }

        &-right {
            text-align: right !important;
        }

        &-center {
            text-align: center !important;
        }
    }
}