@use '@/app/scss/useMain' as *;
@use './styles';

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq(tablet) {
        height: $size-16;
    }
}