@mixin gap($size-name, $size-value) {
    &gap-#{$size-name} {
        gap: $size-value;
    }

    &cgap-#{$size-name} {
        column-gap: $size-value;
    }

    &rgap-#{$size-name} {
        row-gap: $size-value;
    }

}

@mixin gap-important($size-name, $size-value) {
    &gap-#{$size-name} {
        gap: $size-value !important;
    }

    &cgap-#{$size-name} {
        column-gap: $size-value !important;
    }

    &rgap-#{$size-name} {
        row-gap: $size-value !important;
    }
}