@use '@/app/scss/useMain' as *;
@use './styles';

.header__wrapper {
    min-height: $header-height;
    width: 100%;

    display: flex;
    justify-content: center;
    backdrop-filter: blur(8px);
    border-bottom: 1px solid hsla(240, 5.9%, 90%, 0.4);
}

.header__content {
    display: flex;
    align-items: center;
    max-width: 1400px;
    gap: $size-7;
}

.header__separator {
    display: flex;
    height: 100%;

    & > hr {
        height: 100%;
        border: 0.5px solid black;
    }
}

.header__logo {
    flex-grow: 0;
}

.header__children {
    flex-grow: 1;
}
