@use '@/app/scss/useMain' as *;
@use './styles';

.button__font {
    line-height: 1;
    font-size: 0.875rem;
    font-weight: 500;
}

.button {
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: $size-9;
    border-radius: calc(0.5rem - 2px);
}

.button[itemType='primary'] {
    background-color: $color-neutral-1000;
    color: $color-neutral-000;

    &:hover {
        background-color: $color-neutral-950;
    }

    &:focus-visible {
        box-shadow: 1px 1px 1px 1px $color-neutral-050;
    }
}