@use '@/app/scss/useMain' as *;
@use './styles';

.button__font {
    line-height: 1;
    font-size: 0.875rem;
    font-weight: 500;
}

.button {
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: $size-9;
    padding: $size-2 $size-4;
    border-radius: calc(0.5rem - 2px);
}

.button[itemType='primary'] {
    background-color: $color-neutral-1000;
    color: $color-neutral-000;

    &:hover {
        background-color: $color-neutral-950;
    }
}

.button[itemtype='secondary'] {
    background-color: hsl(240, 4.8%, 95.9%);
    color: $color-neutral-1000;

    &:hover {
        background-color: hsla(240, 4.8%, 95.9%, 0.8);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }
}

.button[itemType='outline'] {
    border: 1px solid hsl(240, 5.9%, 90%);

    &:hover {
        background-color: hsl(240, 4.8%, 95.9%);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05)
    }
}

.button[itemType='ghost'] {
    border: none;

    &:hover {
        background-color: hsl(240, 4.8%, 95.9%);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05)
    }
}

.button[itemType='link'] {
    border: none;

    &:hover {
        text-decoration: underline !important;
        text-underline-offset: 4px;
    }
}